main {
  max-width: 990px;
  margin: 0 auto;
}

section {
  width: 100%;
  overflow: hidden;
}

div {
  float: left;
  margin: 20px;
  width: 45%;
  height: 600px;
  text-align: center;
  outline: 1px solid #d0d0d0a3;
  overflow: hidden;
}

h2 {
  padding: 20px 0 10px 0;
}

label {
  margin: 30px 0 40px 10%;
}

li {
  margin: 10px auto;
}

footer {
  text-align: center;
}

@media only screen and (min-width: 500px) {

} 